.profile-container{
    /* border: 1px solid red; */
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.profile{
    width: 40%;
    height: 85%;
    border-radius: 16px;
    position: relative;
    min-width: 500px;
    background-color: rgb(165, 215, 184);
}





h2{
    text-align: center;
    /* background-color: pink; */
    margin-top: 65px;
}

.username{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* border: 1px solid red; */
    width: 100%;
    top: 21%;
    border-radius: 10px;
}

.username input{
    width: 47%;
    margin: 8px;
    background-color: white;
	border: none;
	padding: 12px 15px;
  border-radius: 7px;
}

.address{
    position: absolute;
    /* border: 1px solid red; */
    width: 95%;
    display: flex;
    align-items: center;
    flex-direction: column;
    top: 30%;
    border-radius: 10px;
}

.address input{
    width: 75%;
    background-color: white;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
  border-radius: 7px;
}

.location {
    position: absolute;
    /* border: 1px solid red; */
    width: 97%;
    display: flex;
    align-items: center;
    flex-direction: row;
    border-radius: 10px;
    top: 50%;
}

.location input{
    width: 31%;
    margin: 2px;
    background-color: white;
	border: none;
	padding: 12px 15px;
  border-radius: 7px;
}

#submit{
    cursor: pointer;
    width: 50%;
    border-radius: 20px;
	border: 1px solid rgb(92, 154, 56);
	background-color: rgb(92, 154, 56);
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
}

#submit:hover {
    background-color: white;
    font-size: 1.1em;
    font-weight: bold;
    color: rgb(4, 171, 101);
}