.form-container {
    position:relative;
    justify-content: center;
  
   margin-bottom: 8%;
    margin-top:0%;
    background-color: #F2F2F2;
    padding: 20px;
    border-radius: 10px;
   width: fit-content;
   align-items: center;

}
  
  .f-input {
    background-color: white;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
  border-radius: 7px;
    /* width: fit-content; */
  }
  
  .f-button {
    border-radius: 20px;
    border: 1px solid rgb(92, 154, 56);
    background-color: rgb(92, 154, 56);
    color: #ffffff;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: transform 80ms ease-in;
  }

#ip-container{
    display: flex;
  flex-flow: row wrap;
  align-items: center;
  min-inline-size: 10%;
  justify-content: center;
}
#ip-container input {
    vertical-align: middle;
    margin: 5px 30px 5px 0;
    width:fit-content;
    padding: 10px;
    }
.f-h2{
    margin-top: 40px;
    margin-bottom: 20px;
    margin-left: 25%;
    margin-right: 25%;
}
#page-center{
  position: relative;
  display: inline-flex;
  flex-direction: column;
 margin-left: 30%;
 margin-right: 30%;
}

.delivery-date{
  margin: 8px;
}

.f-button:hover{
  color: rgb(92, 154, 56);
  background-color: #ffffff;
  cursor: pointer;
}