* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
  }

.nav-container {
    position:relative;
    background-color: rgb(96, 153, 102);
    height: 12vh;
    margin: 0;

}
    
.div1{
    position: absolute;
    /* border: red solid 1px; */
    top:25%;
    bottom:25%;
    height: 50%;
    width:20%;
    left:2%;
  	display: flex;
  	justify-content: center;
  	align-items: center;
    background-color: rgb(96, 153, 102);
}
    
.div1 a{
    display:inline-block;
    text-decoration:none;
    letter-spacing: 2px;
    color: white;
    font-size: 1.8em;
    /* background-color: pink; */
    padding: 17px;
    border-radius: 15px;

}

.div2{
    position:absolute;
    /* border: red solid 1px; */
    top:25%;
    bottom:25%;
    height: 50%;
    width:40%;
    right:2%;
    display:flex;
    justify-content: center;
    align-items: center;

}

.div2 ul{
    /* border: 1px solid pink; */
    color: white;
    width: 75%;
    display:flex;
    justify-content: space-between;
    align-items: center;
    
}

.div2 ul li{
    list-style-type: none; 
    /* border: 1px solid red; */
    margin: 5px;
    border-radius: 10px;
    font-size: 1.1em;
}

.div2 a{
    text-decoration:none;
    padding: 8px;
    color: white;
    border-radius: 4px;
}



.hover1:hover a{
    color:  rgb(96, 153, 102);
    font-weight: 600;
    background-color: white;
}

#dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: rgb(157, 192, 139);
    min-width: 160px;
    border-radius: 4px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: white;
    color:  rgb(96, 153, 102);
    
}

#dropdown:hover > a {
    font-weight: 600;
}

#dropdown:hover .dropdown-content {
    display: block;
}
    
