.Home-container{
    border: 1px solid white;
    position: relative;
    height:78vh;
    width: auto;
    font-family: 'Poppins', sans-serif;
}

.fuel-rate{
    position: relative;
    border: 1px solid white;
    height: 55%;
    width: 35%;
    top: 10%;
    left: 8%;
    border-radius: 10px;
    background-color: #eb9c5c;

}

.Home-heading{
    margin-top: 90px;
    text-align: center;
}

.Home-center {
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#b1{
    border: 1px solid white;
    background-color: white;
    color: #eb9c5c;
    border-radius: 4px;
    margin-left: 205px;
    padding: 25px;
    margin-top: 25px;
    font-size: 1.2em;
}

#b1:hover{
    border: 1px solid white;
    background-color: #eb9c5c;
    color: white;
    cursor: pointer;
}

.center button{
    font-size: 1.2em;
    padding: 1.1em;
}

.center button:hover{
    cursor: pointer;
}

.fuel-history{
    position: absolute;
    border: 1px solid white;
    height: 55%;
    width: 35%;
    bottom: 10%;
    right: 8%;
    border-radius: 10px;
    background-color: #483c32;
}

#b2{
    border: 1px solid white;
    background-color: #483c32;
    color: white;
    border-radius: 4px;
    margin-left: 205px;
    padding: 25px;
    margin-top: 25px;
    font-size: 1.2em;
}
#b2:hover{
    border: 1px solid #483c32;
    background-color: white;
    color: #483c32;
    cursor: pointer;
}